.caja{
    text-align: center;
    color: white;
    background-color: rgb(27, 177, 177);
    width: 100%;
    position: absolute;
}
.cuerpo{
    text-align: center;
    color: white;
    border: 1px solid rgb(27, 177, 177);
    width: 300px;
    position: absolute;
    display: flexbox;
    bottom: 0%;
    right: 10%;
    padding: 1%;
}

.boton{
    border: 1px solid rgb(27, 177, 177);
    color:rgb(27, 177, 177);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 21px;
}
.boton:hover{
    background-color: rgb(27, 177, 177);
    color: white;
}
.primero{
    margin-top: 55px;
}

